.mainStats {
  position: relative;
  table-layout: fixed;
  width: 20vw;
  top: 30px;
  grid-area: b;
  min-width: 300px;
  max-width: 350px;

  thead {
    td {
      font-size: 10px;
      width: 10px;
    }
  }

  tbody {
    .mainColumn {
      font-size: 12px;

      .abbr {
        display: block;
        font-weight: bold;
      }
    }

    .cell {
      width: 30px;
      height: 32px;
      border: 1px solid black;

      &.ability {
        //background: green;
      }

      &.temp {
        //background: blue;
      }
    }
  }
}

@media (max-width: 660px) {
  .mainStats {
    top: 0;
    margin: 0 auto;
  }
}
