.cell {
  border-bottom: 1px solid black;
  line-height: 70px;
  margin: 0 10px;
  padding-left: 5px;
  text-align: left;

  .value {
    font-size: 16px;
    position: absolute;
  }

  .placeholder {
    position: relative;
    display: inline-block;
    top: 25px;
    font-size: 14px;
  }
}
