.topPartCell {
  border-bottom: 1px solid black;
  line-height: 55px;
  margin: 0 5px;
  padding-left: 3px;
  text-align: left;

  .value {
    font-size: 16px;
    position: absolute;
  }

  .placeholder {
    position: relative;
    display: inline-block;
    top: 18px;
    font-size: 11px;
  }
}
