.topPart {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 40px);
  grid-area: a;
}

@media (max-width: 1100px) {
  .topPart {
    grid-template-columns: 1.5fr 1.5fr;
  }
}
