.topPart {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 40px);
  grid-area: a;
}

@media (max-width: 750px) {
  .topPart {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 40px);
  }
}

@media (max-width: 400px) {
  .topPart {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 40px);
  }
}
