.savingThrows {
  position: relative;
  width: 20vw;
  top: 30px;
  grid-area: d;

  thead {
    td {
      font-size: 10px;
      width: 10px;
    }


  }

  tbody {
    .mainColumn {
      font-size: 12px;

      .abbr {
        display: block;
        font-weight: bold;
      }
    }

    .cell {
      width: 30px;
      height: 32px;
      border: 1px solid black;

      &.total {
        border: 1px solid red;
      }
    }
  }
}
